{% extends "base.html" %}
{% block title %}About{% endblock %}


{% block content %}
    {% if valid_user %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/flights">Flights</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a class = "active" href="/about">About</a></li>
            <li id="right"><a href="/logout">Logout</a></li>
            <li id="right"><a href="#"><strong>Welcome {{current_user.name}}!</strong></a></li>
        </ul>
    {% else %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a class = "active" href="/about">About</a></li>
            <li id="right"><a href="/login">Login</a></li>
            <li id="right"><a href="/signup">Sign Up</a></li>
        </ul>
    {% endif %}


About this project.
{% endblock %}