{% extends "base.html" %}
{% block title %}Journey Planner{% endblock %}


{% block content %}


    <ul>
        <li><a href="/">Home</a></li>
        <li><a class = "active" href="/flights">Flights</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>

	<form action='flights' method='POST'>
        <select id = "orig" name = "orig">
            {% for location in locations_1 %}
            	{% if location.id == defaults[0] %}
            		<option value = {{location.id}} selected>{{location.name}}</option> 
            	{% else %}
            		<option value = {{location.id}}>{{location.name}}</option> 
            	{% endif %}
            {% endfor %}	                       
        </select>

        <select id = "dest" name = "dest">
            {% for location in locations_2 %}
            	{% if location.id == defaults[1] %}
            		<option value = {{location.id}} selected>{{location.name}}</option> 
            	{% else %}
            		<option value = {{location.id}}>{{location.name}}</option> 
            	{% endif %}
            {% endfor %}	                       
        </select>


        <select id = "date" name = "date">
            {% for date in dates %}
            	{% if date == defaults[2] %}
            		<option value = {{date}} selected>{{date}}</option> 
            	{% else %}
            		<option value = {{date}}>{{date}}</option> 
            	{% endif %}
            {% endfor %}               
        </select>

        <select id = "company" name = "company">
            {% for company in companies %}
            	{% if company.id == defaults[3] %}
            		<option value = {{company.id}} selected>{{company.name}}</option> 
            	{% else %}
            		<option value = {{company.id}}>{{company.name}}</option> 
            	{% endif %}
            {% endfor %}	                       
        </select>

        <input type='submit' name='submit' value = 'Submit'></input>
    </form>


    {% if rows %}
    {% autoescape false %}
    <table class="table table-bordered">

    	<thead>
    		<tr>
		    	{% for header in headers %}
		    		<th>
		    			{{header}}
		    		</th>
		    	{% endfor %}
		    </tr>	
		</thead>

		<tbody>
	    	{% for row in rows %}
	    		<tr>
	    			{% for col in row %}
	    				<td>
	    					{{col}}
	    				</td>	
	    			{% endfor %}
	    		</tr>
	    	{% endfor %}
	    </tbody>
    </table>
    {% endautoescape %}
    {% endif %}
    
  
{% endblock %}