{% extends "base.html" %}
{% block title %}Flight Info{% endblock %}


{% block content %}

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/flights">Flights</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/about">About</a></li>
        <li id="right"><a href="/logout">Logout</a></li>
        <li id="right"><a href="#"><strong>Welcome {{current_user.name}}!</strong></a></li>
    </ul>

    {% autoescape false %}
    <table class="table table-bordered">

        <thead>
            <tr>
                {% for header in headers %}
                    <th>
                        {{header}}
                    </th>
                {% endfor %}
            </tr>   
        </thead>

        <tbody>
            {% for row in flight %}
                <tr>
                    {% for col in row %}
                        <td>
                            {{col}}
                        </td>   
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endautoescape %}


    {% if flight[0][-1] != "Departed" %}
        Please select a class:
        <form action='' method='POST'>
            <input type="radio" name="type" value="eco" checked> Economy class<br>
            <input type="radio" name="type" value="bus"> Business class<br>
            <input type='submit' name='submit' value = 'Confirm'></input>
        </form>
    {% endif %}
    
  
{% endblock %}