{% extends "base.html" %}
{% block title %}Info{% endblock %}


{% block content %}

    <ul id="navul">
        <li><a id="navli" href="/">Home</a></li>
        <li><a id="navli" href="/flights">Flights</a></li>
        <li><a id="navli" href="/profile">Profile</a></li>
        <li><a id="navli" href="/about">About</a></li>
        <li><a id="navli_right" href="/logout">Logout</a></li>
        <li><a id="navli_right" href="#"><strong>Welcome {{current_user.name}}!</strong></a></li>
    </ul>
    
    {% autoescape false %}
		{{msg}}
	{% endautoescape %}
	<br/>
	<a href = "/flights"> Check out more flights!</a><br/>
	<a href = "/profile"> Check out your profile!</a><br/>
	<a href = "/"> Home page </a>
{% endblock %}