{% extends "base.html" %}
{% block title %}Login{% endblock %}


{% block content %}
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li id="right" class = "active"><a href="/login">Login</a></li>
        <li id="right"><a href="/signup">Sign Up</a></li>
    </ul>

    <h2> Login here! </h2>
    {% if error %}
        {{error}}
    {% endif %}
    
    <form action='login' method='POST'>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="pw">Password:</label>
            <input type="password" class="form-control" id="pw" name="pw">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
  
{% endblock %}